#reference {
  height: 50svh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 9;
  row-gap: 0rem;
}
.project {
  border: 1px solid var(--white-color-80);
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

.project:hover {
  border-color: var(--primary-color);
}
.project > img {
  padding: 0.5rem;
}

#raj_barber > img {
  width: 6rem;
}
