:root {
  --main-color: #0c0c0c;
  --main-accent-color: #141414;
  --primary-color: #4386e4;
  --white-color-50: #ffffff50;
  --white-color-20: #ffffff20;
  --dot-bg: var(--main-color);
  --dot-color: #171717;
  --dot-size: 3px;
  --dot-space: 22px;
  --title-font: "Just Me Again Down Here", cursive;
  --primary-font: "Roboto Flex", sans-serif;
  --border-radius: 4px;
  --medium-query: 768px;
  --laptop-query: 1024px;
  --largest-query: 1440px;
}
