@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import url("./_global.css");
@import url("./_variables.css");

/* sekce */
@import url("./section_styles/uvod.css");
@import url("./section_styles/reference.css");
@import url("./section_styles/sluzby.css");
@import url("./section_styles/technologie.css");
@import url("./section_styles/kontakt.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;

  color: #fff;
  font-family: var(--primary-font);

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/* Header */

header {
  z-index: 1000;
  position: fixed;
  width: 90%;
  padding: 0.75rem;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(10px);
}

header > h3 {
  margin-bottom: 0.25rem;
  padding: 0rem 0.25rem;
  border-radius: var(--border-radius);
  width: fit-content;
}

header > h3,
.title-accent {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

header > h3 > .title-accent {
  font-family: var(--title-font);
}

header > nav {
  -webkit-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  -moz-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  border-radius: var(--border-radius);
  background-color: var(--main-accent-color);
  padding: 0.5rem 0rem;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding: 0 1rem;

  text-underline-offset: 0.25rem;
}

header > nav > ul > li > a {
  display: flex;
  font-size: 0.5rem;

  color: var(--white-color-50);
  text-decoration: none;
  border-left: 1px solid var(--white-color-50);
  padding-left: 0.25rem;
}

header > nav > ul > li > a:hover {
  text-decoration: underline;
  border-left: 2px solid var(--primary-color);
  color: #fff;
}

/* Main */

main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

footer > p {
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}
