@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  /* colors */
  --main-color: #0c0c0c;
  --main-accent-color: #141414;
  --primary-color: #4386e4;
  --white-color-50: #ffffff50;
  --white-color-20: #ffffff20;
  --white-color-10: #ffffff10;

  /* dotted bg */
  --dot-bg: var(--main-color);
  --dot-color: #111111;
  --dot-size: 3px;
  --dot-space: 22px;

  /* fonts */
  --title-font: "Just Me Again Down Here", cursive;
  --primary-font: "Roboto Flex", sans-serif;

  /* style */
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;

  color: #fff;
  font-family: var(--primary-font);

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}
/* Global */

section {
  padding: 6.5rem 0 0;
  margin: -6.5rem 0 0;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.accent {
  color: var(--primary-color);
}

.separator {
  content: "";
  border-bottom: 1px solid var(--white-color-10);
  width: 80%;
}

.bi {
  color: var(--primary-color);
  margin-bottom: 0.25rem;
}

.shadow {
  -webkit-box-shadow: -5px 5px 0px 6px rgba(30, 30, 30, 1);
  -moz-box-shadow: -5px 5px 0px 6px rgba(30, 30, 30, 1);
  box-shadow: -5px 5px 0px 6px rgba(30, 30, 30, 1);
}

p {
  font-size: 0.75rem;
  color: var(--white-color-50);
}

/* Header */

header {
  z-index: 1000;
  position: fixed;
  width: 90%;
  padding: 0.75rem;
  left: 50%;
  transform: translate(-50%);
  backdrop-filter: blur(10px);
}

header > h3 {
  margin-bottom: 0.25rem;
  padding: 0rem 0.25rem;
  border-radius: var(--border-radius);
  width: fit-content;
}

header > h3,
.title-accent {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

header > h3 > .title-accent {
  font-family: var(--title-font);
}

header > nav {
  -webkit-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  -moz-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  border-radius: var(--border-radius);
  background-color: var(--main-accent-color);
  padding: 0.5rem 0rem;
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
  padding: 0 1rem;

  text-underline-offset: 0.25rem;
}

header > nav > ul > li > a {
  display: flex;
  font-size: 0.5rem;

  color: var(--white-color-50);
  text-decoration: none;
  border-left: 1px solid var(--white-color-50);
  padding-left: 0.25rem;
}

header > nav > ul > li > a:hover {
  text-decoration: underline;
  border-left: 2px solid var(--primary-color);
  color: #fff;
}

/* Main */

main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
}

/** Uvod **/
#uvod {
  gap: 1rem;

  display: flex;
  align-items: start;
}

.portrait {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-self: center;

  /* mask-image: url(./images/blob.svg);
  mask-repeat: no-repeat;
  mask-position: center; */
}

.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;

  width: 80%;
}

.profile-desc > h1 {
  font-weight: 400;
}

.counters {
  display: flex;
  gap: 2rem;
}

.counters > .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--main-accent-color);
  -webkit-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  -moz-box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
  box-shadow: 0px 0px 1px 2px rgba(51, 101, 170, 1);
}

.counters > .box > h1 {
  font-size: 2.25rem;
}

/** Reference **/

#reference {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.project {
  border: 1px solid var(--primary-color);
  background-color: var(--main-color);
  border-radius: var(--border-radius);
}

.project > img {
  padding: 0.5rem;
}

/** Sluzby **/

#sluzby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lines {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1rem;

  border-right: 2px solid var(--white-color-20);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.25rem;
  padding: 2rem 3rem;

  border-top: 1px dashed var(--white-color-20);
}

.item > .bi {
  display: flex;
  position: absolute;
  top: -12.5px;
  left: 0;
  border: 1px solid var(--white-color-20);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  padding: 0.3rem;
}

.item > .title > .numeration {
  font-size: xx-small;
  color: var(--white-color-20);
}

.marketing {
  padding-bottom: 4rem;
}

.work {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
}

.work > a {
  z-index: 100;
  padding: 0.2rem 1rem;
  background-color: var(--main-accent-color);
  border: 1px solid var(--white-color-50);
  border-radius: var(--border-radius);
  color: var(--white-color-50);
  cursor: pointer;
}

.work > a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.work > hr {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 0;

  height: 2px;
  border-width: 0;
  color: gray;
  background-color: var(--white-color-20);
}

/** Technologie **/

#technologie {
  display: flex;
  justify-content: center;
  align-items: center;
}

#technologie > h1 {
  color: #f7df1e;
  text-align: center;
  padding-bottom: 0.25rem;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 2rem;
}
.first,
.inter,
.second,
.third,
.fourth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  gap: 6rem;
}

.inter {
  height: 2rem;
}

.second {
  margin-top: -2.3rem;
  gap: 3.9rem;
}

.third {
  gap: 0.5rem;
  margin-top: -0.7rem;
}

.inter-around {
  gap: 6rem;
  height: 2rem;
}

.fourth {
  gap: 0.15rem;
}

.blob {
  width: fit-content;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.blob-large {
  height: 5rem;
  width: 5rem;
}

.blob-medium {
  height: 4rem;
  width: 4rem;
}

.blob-medium > img {
  height: 2.5rem;
  width: 2.5rem;
}

.blob-small {
  width: 3rem;
  height: 3rem;
}

.blob-small > img {
  width: 2rem;
  height: auto;
}

.blob-smallest {
  width: 1.5rem;
  height: 1.5rem;
}

.blob-smallest > img {
  width: 1rem;
  height: auto;
}

/*technologies*/
#javascript {
  background-color: #f7df1e;
}
#typescript {
  background-color: #3178c6;
}
#vuejs {
  background-color: #17212b;
}
#nodejs {
  background-color: #ffffff;
}
#angular {
  background-color: #76001a;
}
#expressjs {
  background-color: #181818;
}
#nestjs {
  background-color: #37040c;
}
#vuetify {
  background-color: #ffffff;
}
#material {
  background-color: #757575;
}
#mongoDB {
  background-color: #02b853;
}
#mariaDB {
  background-color: #d9d9d9;
}

/** kontakt **/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem 2rem;

  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
}

form > .contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  gap: 1rem;
}

form > .contacts > .contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
}
form > .contacts > .contact > .desc,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.info > a {
  color: var(--white-color-50);
  text-decoration: none;
}

.info > a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem 0;
}

footer > p {
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: var(--main-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}
