@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  /* colors */
  --color-primary: #181818;
  --color-primary-accent: #141414;
  --color-accent: #42d392;
  --shade-white-50: #575b62;
  --shade-white-20: #ffffff17;

  /* dotted bg */
  --dot-bg: var(--color-primary);
  --dot-color: #2b2b2b;
  --dot-size: 2px;
  --dot-space: 22px;

  /* fonts */

  --font-primary: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;

  overflow-x: hidden;
}

body {
  position: relative;
  width: 100svw;

  color: #fff;
  font-family: var(--font-primary);

  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

/*! -------------------- HEADER -------------------- */
header {
  padding: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.9rem;
}

header > h3 {
  color: var(--shade-white-50);
}

header > nav {
  position: fixed;
  right: 1rem;
}

header > nav > ul > li:hover {
  background-color: var(--shade-white-20);
  border-radius: 5px;
}

.accent {
  user-select: none;
  color: var(--color-accent);
}

/** NAVIGATION */

li {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  list-style-type: none;
}

li > a {
  color: #fff;
  text-decoration: none;
}

li > .line {
  width: 2px;
  height: 14px;
  background-color: var(--shade-white-50);
  border-radius: 10px;
}

.selected > .line {
  background-color: var(--color-accent);
}

.selected > a {
  color: #fff;
}

/*! --------------------  MAIN  -------------------- */

section {
  margin-top: 10rem;
}

/** UVOD */
.uvod {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container > img {
  max-width: 80%;
  height: 80%;
  display: block;

  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.description {
  width: 70%;
}

.description > h4 {
  color: var(--shade-white-50);
}

/** PROJEKTY */

.projekty {
  width: 100%;
  height: 10rem;

  background-color: var(--color-primary-accent);
  border: 1px solid var(--shade-white-20);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.project > img {
  max-width: 5rem;
  max-height: 5rem;
}

/** TECHNOLOGIE */

.technologie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.card {
  width: 60%;
  height: 11rem;

  color: var(--shade-white-50);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 1rem;

  background-color: var(--color-primary-accent);

  border: 1px solid var(--shade-white-20);
  border-radius: 2px;
}

.card > h4 {
  color: #fff;
}

.card > p {
  font-size: small;
}

/** NOVY PROJEKT */

.novyProjekt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  padding-bottom: 8rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--color-primary-accent);
  border: 1px solid var(--shade-white-20);

  padding: 0.5rem 1rem;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-size: 0.75rem;
}
.container > i {
  color: var(--shade-white-50);
}

.container > a {
  text-decoration: none;
  color: #fff;
}

.novyProjekt > .contact > span {
  font-size: xx-large;
  color: var(--color-accent);
}

/** Socials */

.socials {
  position: fixed;
  left: 2rem;
  bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25rem;
  background-color: var(--shade-white-20);
  border-radius: 20px;
}

.socials > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.socials > ul > li > a > i {
  color: var(--shade-white-50);
}

.socials > ul > li > a > i:hover {
  color: var(--color-accent);
}

@media only screen and (min-width: 1024px) {
  header {
    justify-content: center;
  }

  header > h3 {
    width: 70%;
  }

  .image-container {
    width: 50%;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    width: 20%;
  }

  .novyProjekt > .contact {
    flex-direction: row;
    gap: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .projekty {
    height: 14rem;
  }

  .projekty > .project > img {
    max-width: 10rem;
    max-height: 8rem;
  }

  .cards {
    height: 15rem;
    gap: 6rem;
  }

  .card {
    font-size: larger;
  }

  .card > p {
    font-size: medium;
  }

  .container {
    padding: 1rem;
  }

  .container > i {
    font-size: x-large;
  }

  .container > a {
    font-size: large;
  }

  .socials {
    padding: 1rem 0.75rem;
    background-color: var(--shade-white-20);
    border-radius: 20px;
  }

  .socials > ul {
    font-size: x-large;
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 2560px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  header > nav {
    right: 15%;
  }
}
